{% extends 'blog/base.html' %}

{% block head_title %}
    {{ post.title }} - Board
{% endblock %}

{% block main_area %}
    <br><br>
    <div id="post-area">
        <!-- Post title-->
        <h2 class="fw-bolder mb-4">{{ post.title }}</h2>
        <h5 class="text-muted">{{ post.hook_text }}</h5>
        <!-- Author -->
        <p class="lead">
            by
            <a href="#"> {{ post.author | upper }}</a>
        </p>
        <hr>

        {% if user.is_authenticated and user == post.author %}
            <a class="btn btn-info btn-sm float-right" href="/blog/update_post/{{ post.pk }}/"
               role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit Post</a>
        {% endif %}

        <!-- Date/Time -->
        <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>
        <hr>
        <!-- Post categories-->
        <!-- Preview image figure-->
        {% if post.head_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image" /></figure>
        {% else %}
{#            <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/850/350" alt="random_image" /></figure>#}
        {% endif %}
        <!-- Post content-->
        <p>{{ post.get_content_markdown | safe }}</p>

        {% if post.file_upload %}
            <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download="">
                Download:
                {% if post.get_file_ext == 'csv' %}
                    <i class="fa-solid fa-file-csv"></i>
                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fa-solid fa-file-excel"></i>
                {% elif post.get_file_ext == 'doc' %}
                    <i class="fa-solid fa-file-word"></i>
                {% else %}
                    <i class="fa-solid fa-file-arrow-down"></i>
                {% endif %}
                {{ post.get_file_name }}
            </a>
        {% endif %}
    </div>
{% endblock %}