<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}IE Lab{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/e752802a8c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Footer-->
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; IE Lab WebSite 2022
            </p>
        </div>
    </footer>

</body>
</html>