<!--Publications Journal Papers-->

<!DOCTYPE html>
<html lang="ko">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>IE Lab Publications</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrappub.min.css' %}" media="screen">-->
        <link rel="stylesheet" href="{% static 'blog/css/pub.css' %}" media="screen">

    </head>
    <body style="overflow-x: hidden">
       {% include 'blog/navbar.html' %}

        <header class="pb-5 bg-image-full" style="padding-bottom: 12rem !important; margin-left: -60px !important; background-image: url('/static/pages/images/world.jpg');">
        </header>
        <!-- Content section-->
        <div class="find-btn">
            <button type="button" class="find-btnbk" onclick="location.href='/publications'" style="color: black" color="black">Journal Papers</button>
            <button type="button" class="find-btngr" onclick="location.href='/publicationsCon'" style="color: black" color="black">Conference Papers</button>
            <button type="button" class="find-btngr" onclick="location.href='/publicationsPatents'" style="color: black" color="black">Patents</button>
               </div>
           </div>
       </div>

<!--        <div class="find-btn">-->
<!--            <button type="button" class="find-btn1" onclick="location.href='/publications'" style="width: 30%; color: black" color="black">Journal Papers</button>-->
<!--            <button type="button" class="find-btn2" onclick="location.href='/publicationsCon'" style="width: 30%; color: black" color="black">Conference Papers</button>-->
<!--            <button type="button" class="find-btn2" onclick="location.href='/publicationsPatents'" style="width: 30%; color: black" color="black">Patents</button>-->
<!--        </div>-->
        <section class="py-5">
            <hr/> <!-- 헤드라인 -->
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- International</h4>
                <div class="row" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2022</b></p> <!-- 년도 -->
                        <p class="lead1">-  Sang-Yub Lee, In-Pyo Cho and Chung-Pyo Hong, "Contactless Elevator Button Control System Based on Weighted K-NN Algorithm for AI Edge Computing Environment", Journal of Web Engineering, 2022 (SCIE)</p> <!-- 내용 -->

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2020</b></p> <!-- 년도 -->
                        <p class="lead1">-  Quanzhe Li, SaeByuk Shin, Chung-Pyo Hong, and Shin-Dug Kim, “On-Body Wearable Device Localization with a Fast and Memory Efficient SVM-kNN using GPUs,” Pattern Recognition Letters, Vol.139, No.O, pp.128-138, November, 2020. (SCIE)</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2017</b></p> <!-- 년도 -->
                        <p class="lead1">-  Jin-Chun Piao, Jue-Min Lu, Chung-Pyo Hong, and Shin-Dug Kim, "Lightweight Particle-based Real-time Fluid Simulation for Mobile Environment," Simulation Modelling Practice and Theory, Vol.77, No.O, pp.32-48, September, 2017. (SCIE)</p>
                        <p class="lead1">-  Jun Lee, Jeong-Sik Park, Chung-Pyo Hong, and Yong-Ho Seo, “Illumination-Robust Foreground Extraction for Text Area Detection in Outdoor Environment,” KSII TRANSACTIONS ON INTERNET AND INFORMATION SYSTEMS, Vol.11, No.1, pp.345-359, January, 2017. (SCIE)</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2016</b></p> <!-- 년도 -->
                        <p class="lead1">-  Jin-Chun Piao, Hyeon-Sub Jung, Chung-Pyo Hong, and Shin-Dug Kim, "Improving performance on object recognition for real-time on mobile devices," Multimedia Tools and Applications, Vol.75, No.16, pp.9623-9640, August, 2016. (SCIE)</p>
                        <p class="lead1">-  Chung-Pyo Hong, “A Locality-Aware Resource Management Scheme for the Hierarchical P2P System,” Multimedia Tools and Applications, Vol.75, No.9, pp.5013-5027, May, 2016. (SCIE)</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2015</b></p> <!-- 년도 -->
                        <p class="lead1">-  Xiyuan Yin, Dae-Hwan Kim, Chung-Pyo Hong, Cheong-Ghil Kim, Kuinam J. Kim, and Shin-Dug Kim, “Advanced feature point transformation of corner points for mobile object recognition,” Multimedia Tools and Applications, Vol.74, No.16, pp. 6541-6556, August, 2015. (SCIE)</p>
                        <p class="lead1">-  Chung-Pyo Hong, Cheong-Ghil Kim, Kuinam J. Kim, and Shin-Dug Kim, “A Polymorphic Service Management Scheme based on Virtual Object for Ubiquitous Computing Environment,” Multimedia Tools and Applications, Vol.74, No.16, pp. 6183-6196, August, 2015. (SCIE)</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2013</b></p> <!-- 년도 -->
                        <p class="lead1">-  Chung-Pyo Hong, Cheong-Ghil Kim, and Shin-Dug Kim, “An Effective Personalized Service Provision Scheme based on Virtual Space for Ubiquitous Computing Environment,” Wireless Personal Communications, Vol.73, Issue 2, pp.275-288, November, 2013. (SCIE)</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2009</b></p> <!-- 년도 -->
                        <p class="lead1">-  Chung-Pyo Hong, Eo-Hyung Lee, Charles C. Weems, and Shin-Dug Kim, “A Profile-Based Multimedia Sharing Scheme with Virtual Community, based on Personal Space in a Ubiquitous Computing Environment,” IEEE Transactions on Multimedia, Vol.11, No.7, pp.1353-1361, November, 2009. (SCIE)</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2008</b></p> <!-- 년도 -->
                        <p class="lead1">-  Chung-Pyo Hong, Charles C. Weems, and Shin-Dug Kim, “An effective vertical handoff scheme based on service management for ubiquitous computing,” Computer Communications, Vol.31, Issue 9, pp. 1739-1750, June. 2008. (SCIE)</p>

                    </div>
                </div>
            </div>
            <hr/>
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- Domestic</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2020</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, “A Study of Machine Learning based Face Recognition for User Authentication,” Journal of the Semiconductor & Display Technology, Vol.19, No.2, pp.96-99, June, 2020. </p>
                        <p class="lead1">- Yeon-Seung Yu, Cheong Ghil Kim, Chung-Pyo Hong, “An Implementation of Embedded Linux System for Embossed Digit Recognition using CNN based Deep Learning,” Journal of the Semiconductor & Display Technology, Vol.19, No.2, pp.100-104, June, 2020. </p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2013</b></p> <!-- 년도 -->
                        <p class="lead1">- 홍충표, 김정길, 김신덕, “A Locality based Resource Management Scheme for Hierarchical P2P Overlay Network in Ubiquitous Computing”, 디지털컨텐츠학회논문지, 제 14 권 제 1 호, pp. 89-95. 2013. 3</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2011</b></p> <!-- 년도 -->
                        <p class="lead1">- 홍충표, 김정길, 김신덕, " 계층적 P2P 시스템의 효율적 관리를 위한 네트워크 거리 기반 운영 기법", 한국정보통신설비학회(정보통신설비논문지), 제 10권 제 4호, pp. 121-127, 2011.12.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2010</b></p> <!-- 년도 -->
                        <p class="lead1">- 무하마드 아샤드, 김정길, 홍충표, 이정훈, 김신덕, "휴대단말기 기반 증강현실 시스템 연구 및 개발 동향", 대한임베디드공학회논문지, 제 5권 제 4호, pp. 195-205, 2010.12. </p>


                    </div>
                </div>
            </div>
            
            
            
        </section>

        <!-- Image element - set the background image for the header in the line below-->

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- /Bootstrap js -->
    </body>
</html>
