<!--PublicationsCon Journal Papers-->

<!DOCTYPE html>
<html lang="ko">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>IE Lab Publications</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrappub.min.css' %}" media="screen">-->
        <link rel="stylesheet" href="/static/blog/css/pub.css" media="screen">

    </head>
    {% include 'blog/navbar.html' %}
        <body style="overflow-x: hidden">
       <header class="pb-5 bg-image-full" style="padding-bottom: 12rem !important; margin-left: -60px !important; background-image: url('/static/pages/images/world.jpg');">
        </header>
        <!-- Content section-->
        <div class="find-btn">
            <button type="button" class="find-btngr" onclick="location.href='/publications'" style="color: black" color="black">Journal Papers</button>
            <button type="button" class="find-btnbk" onclick="location.href='/publicationsCon'" style="color: black" color="black">Conference Papers</button>
            <button type="button" class="find-btngr" onclick="location.href='/publicationsPatents'" style="color: black" color="black">Patents</button>
        </div>
        <section class="py-5">
            <hr/> <!-- 헤드라인 -->
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- International</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">
                        
                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2022</b></p> <!-- 년도 -->
                        <p class="lead1">- Jesung Lim, Chung-Pyo Hong, "GAN-based area restoration technique for recognizing partially occluded objects", 9th ICAEIC-2022</p>
                        <p class="lead1">- Chung-Pyo Hong, "Anti-Collision Control System for Unmanned Aerial Vehicle based on Reinforcement Learning", 8th ICAEIC-2022</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2021</b></p> <!-- 년도 -->
                        <p class="lead1">- Jaehyeon Park, Chung-Pyo Hong, and Howoong Lee, "A CNN based Fertility-indicating Pattern Recognition in Female Saliva Samples", EEECS2021</p>
                        <p class="lead1">- Hyeongjin Kim, Howoong Lee, and Chung-Pyo Hong, "A Robust Edge Detection Algorithm for Observation-marker Recognition in Noisy Image Samples", EEECS2021</p>
                        <p class="lead1">- In-Pyo Cho, Chung-Pyo Hong, Howoong Lee, "An Efficient Multi-OS Management Scheme based on Paravirtualization for Smart Marine Navigation", EEECS2021</p>


                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2020</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, Yeon-Seung Yu, and Cheong Ghil Kim, " A Prototyping of Textual Sentiment Classification Preventing Profanity Exposure based on Machine Learning", 2020 International Workshop on Smart Info-Media Systems in Asia (SISA2020), Dec 17, 2020.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2014</b></p> <!-- 년도 -->
                        <p class="lead1">- Xiyuan Yin, Jin-Chun Piao, Bin Pan, Chung-Pyo Hong, and Shin-Dug Kim, "An Adaptive Mobile Service Execution Framework in the Cloud Computing Environment", The 3rd FTRA International Conference on Ubiquitous Computing Application and Wireless Sensor Network (UCAWSN-14), July 7, 2014.</p>
                        <p class="lead1">- Chang-Woo Cho, Chung-Pyo Hong, Jin-Chun Piao, Yeong-Kyu Lim, and Shin-Dug Kim, "Performance Optimization of 3D Applications by OpenGL ES Library Hooking in Mobile Devices", 13th IEEE/ACIS International Conference on Computer and Information Science (ICIS2014), June 4, 2014.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2013</b></p> <!-- 년도 -->
                        <p class="lead1">- Dae-Hwan Kim, Hyeon-Sub Jung, Chung-Pyo Hong, Cheong-Ghil Kim, and Shin-Dug Kim, “Rotated object recognition based on corner feature points for mobile augmented reality applications”, the International Conference on IT Convergence and Security 2013(ICITCS2013), December 16, 2013. </p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2012</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, Cheong-Ghil Kim, Shin-Dug Kim, "An Effective Personalized Service Provision Scheme for Ubiquitous Computing Environment", the International Conference on IT Convergence and Security 2012(ICITCS2012), December 5, 2012.</p>
                        <p class="lead1">- Do-Heon Lee, Chung-Pyo Hong and Shin-Dug Kim, "A Non-Volatile Buffered Main Memory using Phase-Change RAM", the International Conference on IT Convergence and Security 2012(ICITCS2012), December 5, 2012.</p>
                        <p class="lead1">- Chung-Pyo Hong, Cheong-Ghil Kim, Shin-Dug Kim, "A Virtual Space Management Platform for Personalized Service", International Conference on Information Science and Applications 2012(ICISA2012), May 23, 2012.</p>
                        <p class="lead1">- Chung-Pyo Hong, Cheong-Ghil Kim, Shin-Dug Kim, "An Efficient Service Management Scheme based on Virtual Object for Ubiquitous Computing Environment", International Conference on Information Science and Applications 2012(ICISA2012), May 23, 2012.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2011</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, Muhammad Arshad, Cheong-Ghil Kim, and Shin-Dug Kim, "An Efficient Live Stream Community Management Scheme for the Mobile", the International Conference on IT Convergence and Security 2011(ICITCS2011), December 14, 2011.</p>
                        <p class="lead1">- Muhammad Arshad, A. Sattar, Cheong-Ghil Kim, Chung-Pyo Hong, and Shin-Dug Kim, "Semantic Search and Retrieval System for Learning Objects", the International Conference on IT Convergence and Security 2011(ICITCS2011), December 14, 2011.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2010</b></p> <!-- 년도 -->
                        <p class="lead1">- Cheong-Ghil Kim, Dong-Wook Kim, Chung-Pyo Hong, and Shin-Dug Kim, "An enhanced virtual object management scheme for personalized ubiquitous computing services at peer-to-peer", Proceeding of the 2010 International Conference on High Performance Computing & Simulation, pp. 672-675, June 28-July 2, 2010.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2009</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, Eo-Hyung Lee, and Shin-Dug Kim, "An Efficient Scheme to Construct Virtual Community for Multimedia Content Sharing based on Profile in a Ubiquitous Computing Environment", 2009 Fifth International Joint Conference on INC, IMS and IDC, pp.1271-1276, August 25-27, 2009.</p>
                        <p class="lead1">- Eo-Hyung Lee, Chung-Pyo Hong, and Shin-Dug Kim, "Real-time stable personal broadcasting community for mobile terminals", 2009 Fifth International Joint Conference on INC, IMS and IDC, pp.1411-1418, August 25-27, 2009.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2006</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, Tae-Hoon Kang, and Shin-Dug Kim, "A Profile Based Vertical Handoff Scheme for Ubiquitous Computing Environment," The 9th Asia-Pacific Network Operations & Management Symposium, LNCS volume 4238, pp.102-111, September 27-29, 2006.</p>
                        <p class="lead1">- Tae-Hoon Kang, Chung-Pyo Hong, Won-Joo Jang, and Shin-Dug Kim, "A Seamless Service Management with Context-Aware Handoff Scheme in Ubiquitous Computing Environment," The 9th Asia-Pacific Network Operations & Management Symposium, LNCS volume 4238, pp.132-141, September 27-29, 2006.</p>
                        <p class="lead1">- Tae-Hoon Kang, Chung-Pyo Hong, Yong-Seok Kim, and Shin-Dug Kim, "A Context-aware Handoff Management for Seamless Connectivity in Ubiquitous Computing Environment," Proceedings of The 2006 International Conference on Pervasive Systems & Computing, pp. 128-134, June 26-29, 2006.</p>

                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2005</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, Tae-Hoon Kang, and Shin-Dug Kim, "An Effective Vertical Handoff Scheme Supporting Multiple Applications in Ubiquitous Computing Environment," The 2nd International Conference on Embedded Software and Systems (ICESS 2005), pp.407-412, Dec. 16-18, 2005.</p>

                        

                    </div>
                </div>
            </div>
            <hr/>
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- Domestic</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">
                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2022</b></p> <!-- 년도 -->
                        <p class="lead1">
                            - 임재성, 송민석, 홍충표, "GAN 마스크 제거 학습을 이용한 얼굴인식 기법", 2022 한국차세대컴퓨팅학회 춘계학술대회
                        </p>
                    </div>
                </div>
            </div>
            
<!--        </header>-->
        </section>

        <!-- Image element - set the background image for the header in the line below-->

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- /Bootstrap js -->
    </body>
</html>
