<!--PublicationsPatents Journal Papers-->

<!DOCTYPE html>
<html lang="ko">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>IE Lab Publications</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrappub.min.css' %}" media="screen">-->
        <link rel="stylesheet" href="/static/blog/css/pub.css" media="screen">

    </head>
    {% include 'blog/navbar.html' %}
        <body style="overflow-x: hidden">
       <header class="pb-5 bg-image-full" style="padding-bottom: 12rem !important; margin-left: -60px !important; background-image: url('/static/pages/images/world.jpg');">
        </header>
        <!-- Content section-->
        <div class="find-btn">
            <button type="button" class="find-btngr" onclick="location.href='/publications'" style="color: black" color="black">Journal Papers</button>
            <button type="button" class="find-btngr" onclick="location.href='/publicationsCon'" style="color: black" color="black">Conference Papers</button>
            <button type="button" class="find-btnbk" onclick="location.href='/publicationsPatents'" style="color: black" color="black">Patents</button>
        </div>
        <section class="py-5">
            <hr/> <!-- 헤드라인 -->
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- International</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">
                        
                        <br>
                        <p class="lead1">- Chung-Pyo Hong, Shin-Dug Kim “System and Method for Providing a User Manual Using Augmented Reality”, PCT, International Application No. PCT/KR2010/006084, 2010.09.08</p>
                        <br>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- Domestic</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">
                        <br>
                        
                        <p class="lead1">- 홍충표, 김신덕 "증강 현실을 이용한 사용자 설명서 제공 단말기, 서버 및 방법", 대한민국 특허, 등록번호 10-1180278-00-00, 2012.08.31</p>


                        
                        <p class="lead1">- 홍충표, 김신덕 “네비게이션 방법, 네비게이션 시스템, 텔레매틱스 단말 및 네비게이션 서버”, 대한민국 특허, 등록번호 10-0683555, 2007.02.09</p>
                        <p class="lead1">- 홍충표, 김신덕, 강창덕 “휴대폰 기반의 실시간 온디멘드 네비게이션 방법, 네비게이션 시스템, 휴대폰 및 네비게이션 서버”, 대한민국 특허, 등록번호 10-0683556, 2007.02.09 </p>
                        <p class="lead1">- 홍충표, 김신덕, 강태훈, 연세대학교, “핫스팟 지역에서의 개인 네비게이션 방법, 이를 위한 휴대 단말 및 핫스팟 서버”, 대한민국 특허, 등록번호 10-0668438-0000, 2007.01.12</p>

                        
                        <br>
                    </div>
                </div>
            </div>
            
<!--        </header>-->
        </section>

        <!-- Image element - set the background image for the header in the line below-->

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- /Bootstrap js -->
    </body>
</html>
